*.parquet
*.csv

# Ignore everything in 1_LIB except master folder
1_LIB/*
!1_LIB/master/

# Python virtual environments
venv/
.env/
env/
nyisoenv/
nyisoenv/*

# Bytecode / temp
__pycache__/
*.pyc

# Virtual environments
.venv_wsl/
venv_wsl/
venv/
.venv/

# Model files (large binaries)
*.joblib

# Logs
model_results.log
